.wrap_field_tab {
    padding-top: 10px;
    display: flex;
    height: 100%;
    background-color: $color-gray-1;
    flex-direction: column;
    .header_field_tab {
        text-align: center;
        padding-bottom: 30px;
    }
    .group_field {
        display: flex;
        padding-top: 5px;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 20px;
        span {
            font-size: large;
            margin: 10px;
            user-select: none;
            font-weight: bold;
        }
    }
    .list_field {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        border-bottom: 1px solid;
        div {
            display: flex;
            flex-direction: row;
        }
        span {
            text-transform:capitalize;
            padding-top: 10px;
            cursor: pointer;
        }
        .selected {
            box-shadow: 0px 2px #888888;
            display: flex;
            flex-direction: row;
        }
        button {
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 5px;;
            cursor: pointer;
        }
    }
    
}