.wrap_layout_mana {
	padding-top: 10px;
	display: flex;
	background-color: $color-gray-1;
	flex-direction: column;
	align-items: center;
	height: 100%;
	.header_layout_mana {
		text-align: center;
		padding-bottom: 30px;
	}
	.scroller {
		margin: 0 auto;
		height: 100%;
		overflow: auto;
	}
    .list_layout {
        display: flex;
        flex-direction: column;
        .selected {
			box-shadow: 5px 5px #888888;
			background-color: $color-black-dark;
        }
        button {
            cursor: pointer;
            margin-left: 10px;
            padding: 10px;
            &:hover {
                background-color: #ccc;
			}
			margin-bottom: 10px;
        }
	}
}