.wrap_viewForm {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button {
        padding: 5px;
        cursor: pointer;
    }
    .button {
        display: none !important;
    }
    .directer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}