.wrap_form {
    background-color: $color-gray-1; 
    .wrap_header {
        height: 6vh;
        width: 100%;
        position: relative;
    }
    .wrap_form_inner {
        display: flex;
        flex-direction: row;
        .body_wraper {
            background-color: $color-gray-4;
            width: 100vw;
            display: flex;
        }
    }
}