.wrap_FormEdit {
    width: 100vw;
    height: 100vh;
    background-color: $color-gray-1; 
    .wrap_header {
        height: 6vh;
        width: 100%;
        position: relative;
    }
    .body_FormEdit {
        height: 94vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .FormEdit_FieldTab{
            flex: 2
        }
        .FormEdit_ViewForm {
            flex: 6;
        }
        .FormEdit_LayoutMana {
            flex: 3;
        }
    }
}