.wrap_home {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/af/a7/a3/afa7a37361cab6d7a729b669dae6757b.jpg");
    background-color: $color-gray-1;
    .wrap_secssion {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .intro {
        display: flex;
        flex-direction: row;
        align-items: center;
        .intro__left {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .background_left {
                background-color: $color-gray-1;
                height: 400px;
                width: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 48px;
                    text-shadow: 2px 2px;
                }
            }
        }
        .intro__right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                padding: 10px;
                box-shadow: 2px 5px;
            }
        }
    }
    .feature {
        .wrap_feature {
            height: 100%;
            width: 100%;
            margin-left: 100px;
            margin-right: 100px;
            background-color: $color-gray-1 ;
            display: flex;
            align-items: center;
            justify-content: center;
            .feature_one {
                height: 100%;
                flex: 1;
                background-color:$color-gray-1;
                margin-bottom: 5px;
                margin-left: 50px;
                margin-right: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h3 {
                    text-align: center;
                }
            }
        }
    }
    .customer {
        height: 300px;
        h2 {
            font-size: 36px;
            padding-bottom: 10px;
        }
    }
    .using_now {
        h1 {
            font-size: 36px;
        }
        button {
            margin-top: 40px;
            padding: 20px;
            font-size: 24px;
            box-shadow: 5px 5px;
        }
    }
    .contact {
        height: 300px;
        flex-direction: column;
    }
    .footer {
        height: 100px !important;
    }
} 