.wrap_user {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("https://i.pinimg.com/originals/af/a7/a3/afa7a37361cab6d7a729b669dae6757b.jpg");
    background-color: #cccccc;
    .info_intro {
        text-align: center;
        padding-top: 10px;
    }
    button {
        padding: 10px;
        cursor: pointer;
    }
    .login-reg {
        display: flex;
        padding-bottom: 10px;
    }
    .form_user {
        display: flex;
        flex-direction: column;
    }
}