.header_container {
    height: 6vh;
    display: flex;
    background-color: $color-gray-3;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    padding-right: 15px;
    .avt-img {
        height: 30px;
        width: 30px;
    }
    .avt-sha {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $color-gray-5;
    }
}