
// variable color
$color-black-0: #29303b; // default
$color-white-0: #fff; //default
$color-green-0:#007b5e;
$color-green-1:#05604a;
$color-red-1: #521822;
$color-purple: #6e1a52;
$color-gray-1: rgba(20,23,28,.05);
$color-gray-2: #DCDCDC;
$color-gray-2-2: rgba(169,169,169,.05);
$color-gray-3: #D3D3D3;
$color-gray-3-2: rgba(211, 211, 211, 0.5);
$color-gray-4: #C0C0C0;
$color-gray-5:#A9A9A9;
$color-gray-6:#808080;
$color-black-light:#505763;
$color-white-cream:#f2f3f5;
$color-black-dark: rgba(20,23,28,.1);
$color-yellow: #F4C150;
$color-blue:#007791;

// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
//Còn 1 font-size: 36px;
$fs-4: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;

//variable line-height
$line-height-0: 1.43; //default

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;

//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
);
 
$color_light_black: #aaaaaa;
$color_black: #000000;
$color_medium_black: #666666;
$color_dark_black: #3f3f3f;
$color_light_white: #c9c4c3;
$color_white: #ffffff;
$color_medium_white: #f9f9f9;
$color_dark_white: #f6f6f6;
$color_border: #e1e2e4;
$color_orange: #f6c016;
$color_light_orange: #ffce55;
$color_dark_orange: #ffc000;
$color_blue : #2abfd4;
$color_dark_blue: #40a0d2;
$color_medium_blue: #007791;
$color_red: #ec5252;
$color_purple: #6149ac;