.popup_ {
    position: absolute;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .popup__inner { 
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(252, 252, 252, 0.9);
        flex-direction: column;
        box-shadow: 5px 10px #888888;
        border-radius: 5px;
        button {
            margin-top: 5px;
            padding: 5px;
        }
    }
}