table{
    border-collapse: collapse;
    width: 100%;
    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        button{
            cursor: pointer;
        }   
    }
    .selected {
        background-color: $color-black-light;
    }
}