.wrap_create_form {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    .list_form {
        display: flex;
        flex-direction: column;
        tr {
            cursor: pointer;
        }
        .selected {
            background-color: $color-gray-2;
        }
    }
    .use_form {
        margin-top: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .form_avt {
            height: 300px;
            width: 300px;
            border-radius: 20px;
            background-color: $color-gray-2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        button {
            margin-top: 10px;
            padding: 7px;
        }
    }
}