.wrap_formmana {
    width: 100%;
    .wrap_not_have {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img_dont {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: $color-gray-3;
            height: 400px;
            width: 400px;
            border-radius: 50%;
        }
        button {
            padding: 10px;
        }
    }
    .wrap_have {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 20px;
        .itemForm {
            background-color: $color-gray-3;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
            .form_left {
                display: flex;
                flex-direction: row;
                .icon_star {
                    align-self: center;
                }
                .text_info {
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;
                }
            }
            .form_right {
                align-self: center;
                .icon_layout {
                    align-self: center;
                }
            }
        }
        .itemLayout {
            padding-left: 30px;
            background-color: $color-gray-1;
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            .icon_layout {
                align-self: center;
            }
            .text_info {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
            }
        }
    }
}