.navbar_form {
    width: 300px;
    height: 94vh;
    background-color: $color-gray-3-2;
    .myform_section{
        border-bottom: 2px solid gray;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 20px;
        .section_title{
            align-self: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        button {
            margin-left: 5px;
            margin-right: 5px;
            padding: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        .section_btn_choice {
            background-color: $color-gray-3;
        }
    }
}